<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="icon" href="../static/logo.PNG">
    <title>Michi Café - Inicio</title>
</head>
<body>
    <!--<iframe src="../templates/navbar.html" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>-->
    {% include navbar %}

    <div id="navbar_import"></div>

    <div id="logo_container">
        <div id="circle">
            <img src="../static/michi_cafe.png" type="png" alt="Logo de Michi Café" id="logo">
        </div>
    </div>

    <div id="olas">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0081C0" fill-opacity="1" d="M0,64L26.7,80C53.3,96,107,128,160,138.7C213.3,149,267,139,320,128C373.3,117,427,107,480,128C533.3,149,587,203,640,197.3C693.3,192,747,128,800,96C853.3,64,907,64,960,80C1013.3,96,1067,128,1120,122.7C1173.3,117,1227,75,1280,69.3C1333.3,64,1387,96,1413,112L1440,128L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
        </svg>
    </div>

    <div id="about_us">

        <div id="h2">
            <h2>¡En Michi Café la buena comida se combina con la compañía felina y el amor incondicional!</h2>
        </div>

        <div id="texto">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="paw"><path fill="#0081C0" d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5v1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3v-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/></svg>

            <p>En Michi Café, no solo te ofrecemos una experiencia gastronómica única, sino que también te invitamos a sumergirte en el mundo encantador de nuestros amigos felinos. Situado en el corazón de la ciudad, Michi Café es un santuario para los amantes de los gatos y los entusiastas de la comida deliciosa.</p>
            <p>Imagina disfrutar de una taza de café recién hecho o de un exquisito bocado mientras te rodeas de la suave elegancia y la juguetona personalidad de nuestros gatos residentes. Desde adorables gatitos hasta majestuosos gatos adultos, cada uno de nuestros felinos está deseando recibir cariño y atención.</p>
            <p>Pero eso no es todo. En Michi Café, también tenemos un propósito mayor: la adopción de gatos. Creemos firmemente en brindar hogares amorosos a nuestros amigos peludos, y por eso colaboramos estrechamente con refugios locales para facilitar la adopción de nuestros gatos residentes. Así que, mientras disfrutas de tu experiencia en Michi Café, ¡también puedes encontrar a tu compañero felino perfecto para llevar a casa!</p>
            <p>Nuestro equipo está comprometido a ofrecerte un ambiente acogedor y seguro donde puedas relajarte, disfrutar de buena comida y, lo más importante, conectar con nuestros adorables gatos. Ya sea que estés buscando una escapada tranquila del ajetreo de la vida cotidiana o estés en busca de tu nuevo amigo peludo, Michi Café es el lugar perfecto para ti.</p>
            <p>Ven y únete a nosotros en Michi Café, donde la comida deliciosa, la compañía felina y las oportunidades de adopción se entrelazan para crear una experiencia única e inolvidable. ¡Te esperamos con los brazos abiertos y las colas de nuestros gatos agitándose de emoción!</p>
        </div>
    </div>

    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/login.js"></script>
    
</body>
</html>